<div id="subscription">
  <%= form_for @subscriber do |f| %>
    <h3>Recevez chaque semaine</h3> 
    <h2>un menu pour la semaine</h2>
    <%= render "/shared/error_messages", :target => @subscriber %>
    <%= f.email_field :email, placeholder: "votre@email.com", size: 30 %>
    <%= f.submit "Je m'abonne" %>
  <% end %>
</div>
