<h2>Validation de votre email</h2>

<p>Nous n'avons pas pu valider votre email et par conséquent, votre abonnement n'est pas actif.</p>

<p>Merci d'utilisez la page de contact afin de nous faire part du problème.</p>

<p>
Nous sommes vraiment désolé.
<%= Domain::TEAM_SIGNATURE %>
</p>
