<h2>C'est presque fini</h2>

<p>Vous allez recevoir un email à l'adresse <em><%= @subscriber.email %></em>.</p>

<p>Merci de cliquer sur le lien présent dans cet email afin de valider votre abonnement.</p>
