body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background: $beige;
}

h1, h2, h3, h4, h5 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 900;
  color:$darkbrown;
}

em {
  font-style: normal;
  color: $red;
  font-weight:bold;
}

a { 
  color:$red;
  font-weight:bold;
  text-decoration:none;
}

table {
  width:100%;
  tr {
    td, th { padding:6px; }
    th {
      text-align:left;
      font-weight:bold;
      border-bottom: $red 2px solid;
    }
    td {
      border-bottom: lighten($red, 50%) 1px solid;
    }
  }
}

.clear { clear:both; height:1%; }

#main h1 {
  margin-top:0;
}


/* Buttons */
input[type="submit"], input[type="button"], .button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
  display: inline-block;
  padding: 0.95em 1.37em 0.75em 1.37em;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  line-height: 1.35em;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  border-radius: 0.2em;
  border: rgba(0, 0, 0, 0.05) 0.1em solid;
  -webkit-transition: background 0.3s ease, border-color 0.3s ease;
  -moz-transition: background 0.3s ease, border-color 0.3s ease;
  transition: background 0.3s ease, border-color 0.3s ease;

  color: white;
  font-weight: normal;
  background: $red;
  box-shadow: none;
}
input[type="submit"]:hover, input[type="button"]:hover, .button:hover {
  border-color: transparent;
  background: lighten($red, 10%);
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.1);
}
input[type="submit"]:active, input[type="button"]:active, .button:active {
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset;
}


/* Flashbox */

.flashbox {
  padding: 0.5em;
  margin: 1em 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: rgba(255, 255, 255, 0.9);
  background: #5ba4e5;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 5px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.flashbox.alert {
  background: #e25440;
}

.flashbox.success {
  background: #9fbb58;
}

/* Pagination */
.pagination {
  margin:1em 0;
  a, em, span { border:1px solid $red; padding:4px 5px; font-size:0.85em; }
  em.current { background: $red; color:white; }
  a { background:white; color:$red; }
  a:hover { background:$red; color:white; }
  span.disabled { background:white; color:#AAA; }
}


