body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background: $beige;
}

h1, h2, h3, h4, h5 {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 900;
}
